/*/////******************************//*//*/
/*/////*********** General **********//*//*/
/*/////******************************//*//*/

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*/////******************************//*//*/
/*/////*********** Header ***********//*//*/
/*/////******************************//*//*/

header {
    display: flex;
    justify-content: space-between;
}

#logo-booki {
    padding: 25px 0px;
    width: 61.09px;
    height: 19px;
}

#menu-nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 0px 50px 0px 50px;
    gap: 68px;
}

#menu-nav a {
    padding-bottom: 30px;
    padding-top: 25px;
}

@media (min-width: 768px) {
    #menu-nav a:hover {
        border-top: 2px solid #0065FC;
        color: #0065FC;
        padding-top: 23px;
    }
}

@media (max-width: 768px) {
    #menu-nav {
        width: 100%;
        text-align: center;
        gap: 0;
    }

    #menu-nav a {
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
    }

    #menu-nav a:hover {
        border-top: none;
        padding-top: 30px;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
}


/*/////******************************//*//*/
/*/////****** form recherche ********//*//*/
/*/////*****************************//*//*/

#location-search {
    display: flex;
    margin-top: 30px;
    height: 49px;
}

#loc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid;
    background-color: #F2F2F2;
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#location-input {
    font-weight: 700;
    text-align: center;
    border-top: #F2F2F2 solid;
    border-bottom: #F2F2F2 solid;
    border-left: #F2F2F2 solid;
    border-right: #0065FC;
}

#search-desktop {
    color: white;
    font-weight: 700;
    width: 132px;
    height: 49px;
    border: #0065FC solid;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#search-mobile {
    color: white;
    background-color: #0065FC;
    border: solid #0065FC;
    height: 49px;
    width: 49px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

@media (max-width: 767.98px) {
    #search-desktop {
        display: none;
    }
    #location-search {
        justify-content: center;
    }
    #location-input {
        width: 70%;
    }
}

@media (min-width: 767.98px) {
    #search-mobile {
        display: none;
    }
}

#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

#filters p {
    font-weight: 700;
}

#categories {
    list-style-type: none;
    gap: 10px;
    display: flex;
}

@media (max-width: 383px) {
    .type {
        width: 100%;
    }
}

.type {
    font-weight: 700;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.type i {
    margin-right: 8px;
}

.type:hover {
    background-color: #DEEBFF;
}

.informations {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.informations .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    width: 4px;
    height: 4px;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
}

/*/////*******************************//*//*/
/*/////* Hebergements And Populaires *//*//*/
/*/////*******************************//*//*/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*/////******************************//*//*/
/*/////******** Hebergements ********//*//*/
/*/////******************************//*//*/

.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.hebergements-title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
}

@media (min-width: 768px) {
    .hebergements-cards {
        justify-content: space-evenly;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.hebergements-cards .hebergements-card {
    display: flex;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 250px;
    flex-direction: column;
}

.hebergements-cards img {
    height: 124px;
    border: solid white 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .hebergements-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: white;
    border: 5px solid white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hebergements-cards .hebergements-card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .hebergements-card-subtitle {
    margin: 0;
}

.hebergements-cards .hebergements-card-rating {
    margin-bottom: 5px;
}

.aff-plus {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*/////******************************//*//*/
/*/////********* Populaires *********//*//*/
/*/////******************************//*//*/

.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*/////******************************//*//*/
/*/////*** Activités à Marseille ****//*//*/
/*/////******************************//*//*/

.activites-a-marseille {
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
}

.activites-title {
    margin-bottom: 30px;
}

.activites-cards {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: space-between;
}

.activites-cards .activites-card {
    flex: 1;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
    display: flex;
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


/* Media query pour les écrans de petite taille */
@media (max-width: 768px) {

    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    #search {
        margin-left: 30px;
        margin-right: 30px;
    }

    #categories {
        display: flex;
        flex-wrap: wrap;
    }

    .type {
        width: 35%;
        justify-content: center;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background: none;
    }

    .hebergements-cards .hebergements-card {
        width: auto;
    }

    .hebergements-cards {
        display: grid;
    }

    .activites-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* Media query pour les écrans de taille moyenne */
@media (min-width: 768px) and (max-width: 1023px) {

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .activites-cards {
        grid-template-columns: repeat(2, 1fr); /* Pour deux colonnes */
    }
}

.activites-cards .activites-card-content {
    display: flex;
    padding-left: 15px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 1179px) {
    .activites-cards img {
        height: 200px;
    }
    .activites-cards .activites-card-content {
        min-height: 70px;
    }
}

.activites-card-txt {
    font-weight: 700;
    font-size: 16px;
}

.activites-cards .activites-card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.activites-cards .activites-card-subtitle {
    margin: 0;
}

.activites-cards .activites-card-rating {
    margin-bottom: 5px;
}

/*/////******************************//*//*/
/*/////*********** Footer ***********//*//*/
/*/////******************************//*//*/

footer {
    margin-top: 40px;
    background-color: var(--main-bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 30px;
}

.ftr ul {
    list-style-type: none;
    padding: 0;
}

.ftr li {
    margin-bottom: 10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}